{% extends 'base.html' %}

{% block head %}
    Detail Page
{% endblock head %}

{% block body %}
    {% csrf_token %}
    Post Title: {{ post.title }} <br />
    Content: {{ post.content }} <br />
    Date Created: {{ post.date_created }} <br/>
    Date Updated: {{ post.date_updated }}
    {% for comment in post.comment.all %}
        comment: {{ comment.content }} | date_created {{ comment.date_created }}
    {% endfor %}
    <br />
    <a href="{% url 'post:comment' post.id %}">Comment</a><br />
    <a href="{% url 'post:update' post.id %}">Update</a>
{% endblock body %}